---
docId: {{ entity.doc_id }}
entityType: fileRef
name: {{ entity.name }}
source: {{ source_file }}
---

# File Reference: {{ entity.name }}

## Metadata

| Name | Value |
|---|---|
| FMP ID | {{ entity.fmp_id }} |
| Type | {{ entity.ref_type }} |
| This File | {{ entity.is_self }} |

_Authentication hash omitted._
