---
docId: {{ entity.doc_id }}
entityType: account
name: {{ entity.name }}
source: {{ source_file }}
---

# Account: {{ entity.name }}

## Metadata

| Name | Value |
|---|---|
| FMP ID | {{ entity.fmp_id }} |
{% if entity.modified %}| Last Modified By | {{ entity.modified.account_name or entity.modified.user_name }}{% if entity.modified.user_name and entity.modified.user_name != entity.modified.account_name %} (user: {{ entity.modified.user_name }}){% endif %} |
| Last Modified | {{ entity.modified.timestamp }} |
{% endif %}| Type | {{ entity.account_type }} |
| Enabled | {{ entity.enabled }} |
{% if entity.privilege_set_doc_id %}| Privilege Set | {{ link(entity.privilege_set_doc_id) }} |
{% elif entity.privilege_set_name %}| Privilege Set | {{ entity.privilege_set_name }} |
{% endif %}
{% if entity.description %}
## Description

{{ entity.description }}
{% endif %}
