---
docId: {{ entity.doc_id }}
entityType: customFunction
name: {{ entity.name }}
---

# Custom Function: {{ entity.name }}

## Metadata

| Name | Value |
|---|---|
| FMP ID | {{ entity.fmp_id }} |
{% if entity.modified %}| Last Modified By | {{ entity.modified.account_name or entity.modified.user_name }}{% if entity.modified.user_name and entity.modified.user_name != entity.modified.account_name %} (user: {{ entity.modified.user_name }}){% endif %} |
| Last Modified | {{ entity.modified.timestamp }} |
{% endif %}| Parameters | {{ entity.parameters | join(", ") if entity.parameters else "_None_" }} |

## Calculation

{% if entity.calculation %}
```
{{ entity.calculation }}
```
{% else %}
_None._
{% endif %}

{% set bl = backlinks(entity.doc_id) %}
{% if bl %}
## Called By

| Source | Type | Role |
|---|---|---|
{% for b in bl %}
| {{ link(b.sourceDocId) }} | {{ b.sourceEntityType }} | {{ b.role or '' }} |
{% endfor %}
{% endif %}
