---
docId: {{ entity.doc_id }}
entityType: extPriv
name: {{ entity.name }}
---

# Extended Privilege: {{ entity.name }}

## Metadata

| Name | Value |
|---|---|
| FMP ID | {{ entity.fmp_id }} |
{% if entity.modified %}| Last Modified By | {{ entity.modified.account_name or entity.modified.user_name }}{% if entity.modified.user_name and entity.modified.user_name != entity.modified.account_name %} (user: {{ entity.modified.user_name }}){% endif %} |
| Last Modified | {{ entity.modified.timestamp }} |
{% endif %}| Keyword | `{{ entity.name }}` |
{% if entity.description %}| Description | {{ entity.description }} |
{% endif %}

{% if entity.privilege_set_doc_ids %}
## Granted To Privilege Sets

| Privilege Set |
|---|
{% for ps_id in entity.privilege_set_doc_ids %}
| {{ link(ps_id) }} |
{% endfor %}
{% endif %}
