---
docId: {{ entity.doc_id }}
entityType: theme
name: {{ entity.name }}
source: {{ source_file }}
---

# Theme: {{ entity.display_name or entity.name }}

## Metadata

| Name | Value |
|---|---|
| FMP ID | {{ entity.fmp_id }} |
{% if entity.modified %}| Last Modified By | {{ entity.modified.account_name or entity.modified.user_name }}{% if entity.modified.user_name and entity.modified.user_name != entity.modified.account_name %} (user: {{ entity.modified.user_name }}){% endif %} |
| Last Modified | {{ entity.modified.timestamp }} |
{% endif %}| Technical Name | `{{ entity.name }}` |
{% if entity.display_name %}| Display Name | {{ entity.display_name }} |
{% endif %}{% if entity.group %}| Group | {{ entity.group }} |
{% endif %}| Default Theme | {{ entity.default_theme }} |
