---
docId: {{ entity.doc_id }}
entityType: valueList
name: {{ entity.name }}
---

# Value List: {{ entity.name }}

## Metadata

| Name | Value |
|---|---|
| FMP ID | {{ entity.fmp_id }} |
{% if entity.modified %}| Last Modified By | {{ entity.modified.account_name or entity.modified.user_name }}{% if entity.modified.user_name and entity.modified.user_name != entity.modified.account_name %} (user: {{ entity.modified.user_name }}){% endif %} |
| Last Modified | {{ entity.modified.timestamp }} |
{% endif %}| Type | {{ entity.list_type }} |
{% if entity.source_field_doc_id %}| Source Field | {{ link(entity.source_field_doc_id) }} |
{% endif %}{% if entity.second_field_doc_id %}| Second Field | {{ link(entity.second_field_doc_id) }} |
{% endif %}

{% if entity.values %}
## Values

{% for val in entity.values %}
- {{ val }}
{% endfor %}
{% endif %}

{% set bl = backlinks(entity.doc_id) %}
{% if bl %}
## Referenced By

| Source | Type | Relationship | Role |
|---|---|---|---|
{% for b in bl %}
| {{ link(b.sourceDocId) }} | {{ b.sourceEntityType }} | {{ b.relationshipType }} | {{ b.role or '' }} |
{% endfor %}
{% endif %}
